body {
    background-image: url(https://wallpapercave.com/wp/wp2180183.jpg);
}

.playingCard {
    display: inline-block;
    border-radius: 5px;
    height: 400px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}
