<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
</head>
<body>
    <h1>Edit Coins</h1>
    <form action="/coins/<%=Coin.id %>?_method=PUT" method="POST">
        <label for="name">Country</label>
        <input type="text" name="country" id="country" value='<%= Coin.country %>' />

        <label for="img">Img</label>
        <input type="text" name="img" id="img" />

        <label for="type">Denomination</label>
        <input type="text" name="denomination" id="denomination" />

        <label for="hp">Quantity</label>
        <input type="text" name="quantity" id="quantity" />

        <label for="speed">Year</label>
        <input type="text" name="year" id="year" />

        <label for="attack">Date of Purchase</label>
        <input type="text" name="dateOfPurchase" id="dateOfPurchase" />

        <label for="defense">Purchase Price</label>
        <input type="text" name="purchasePrice" id="purchasePrice" />

        <label for="spattack">Date Sold</label>
        <input type="text" name="dateSold" id="dateSold" />

        <label for="spdefense">Sale Price</label>
        <input type="text" name="salePrice" id="salePrice" />


        <input type="submit" value="Edit Item">
    </form>
</body>
</html>