<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
</head>
<!-- In this page, I created a form to allow updates to my coin show pages -->
<body>
    <h1>Edit Coins</h1>
    <h3><form action="/coins/<%=Coin.id %>?_method=PUT" method="POST">
        <label for="name">Country</label>
        <input type="text" name="country" id="country" />

        <label for="img">Img</label>
        <input type="text" name="img" id="img" />

        <label for="type">Year</label>
        <input type="text" name="year" id="year" />

        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" id="quantity" />

        <label for="grade">Grade</label>
        <input type="text" name="grade" id="grade" />

        <label for="value">Value</label>
        <input type="text" name="value" id="value" />




        <input type="submit" value="Edit Item">
    </form>
</h3>
<style>
    body{
        background-image: url(https://coins.thefuntimesguide.com/files/old-coin-press.jpg);
        color: firebrick;
    }
</style>
</body>

</html>