<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Welcome to My Coin Collection!</h1>

<body>
    <!-- This is my index page, where I have displayed my coin images that link to my show page, as well as my edit and delete buttons, and a link to my create coin page -->
    <h2>All of the Coins</h2>
    <% for (let i=0; i < Coin.length; i++) { %>

        <li>
            <a href="/coins/<%= Coin[i].id%>">
                <img src="<%=Coin[i].img %>" width=75px>
            </a>


        </li>
        <a href="/coins/<%= Coin[i].id %>/edit">Edit</a>

        <form action="/coins/<%= Coin[i].id %>?_method=DELETE" method="POST">
            <input type='submit' value="destroy" />
        </form>

        <% } %>
            <nav>
                <a href="/coins">Add a New Item</a>

            </nav>
            <style>
                body {
                    background-image: url(https://tse4.mm.bing.net/th?id=OIP.KOQFLvh6U_DuGfmOfccAXQHaE8&pid=Api&P=0&w=279&h=187);
                    color: rgb(53, 7, 7);
                    width: max-content;
                    margin: auto;
                    margin-left: auto;
                    margin-right: auto;
                }

            </style>
</body>


</html>