<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1>Welcome to My Coin Collection!</h1>
<body>
    <h2>All of the Coins</h2>
    <% for (let i = 0; i < Coin.length; i++) { %>

    <li>
        <a href="/coins/<%= i %>">
            <img src="<%=Coin[i].img %>" width= 75px>
          </a>
            

    </li>
    <% } %>
    <nav>
        <a href="/coins/new">Add a New Item</a>

    </nav>
</body>
</html> 