<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
</head>
<body>
    <h1>Let's add a Coin!!</h1>
    <form action="/coins" method="POST">
        <label for="name">Country</label>
        <input type="text" name="name" id="name" />

        <label for="img">Img</label>
        <input type="text" name="img" id="img" />

        <label for="type">Denomination/Type</label>
        <input type="text" name="type" id="type" />

        <label for="hp">Quantity</label>
        <input type="text" name="hp" id="hp" />

        <label for="speed">Year</label>
        <input type="text" name="speed" id="speed" />

        <label for="attack">Date of Purchase</label>
        <input type="text" name="attack" id="attack" />

        <label for="speed">Speed</label>
        <input type="text" name="speed" id="speed" />
        <label for="defense">Purchase Price</label>
        <input type="text" name="defense" id="defense" />

        <label for="spattack">Date Sold</label>
        <input type="text" name="spattack" id="spattack" />

        <label for="spdefense">Sale Price</label>
        <input type="text" name="spdefense" id="spdefense" />


        <input type="submit" value="Create Item">
    </form>

</body>
</html>