<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
</head>
<!-- In this page, I created a form to allow data to be submitted to my catalogue and database -->
<body>
    <h1>Let's add a Coin!!</h1>
    <form action="/coins" method="POST">
        <label for="country">Country</label>
        <input type="text" name="country" id="country" />

        <label for="img">Img</label>
        <input type="text" name="img" id="img" />

        <label for="year">Year</label>
        <input type="text" name="year" id="year" />

        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" id="quantity" />

        <label for="grade">Grade</label>
        <input type="text" name="grade" id="grade" />

        <label for="value">Value (USD</label>
        <input type="text" name="value" id="value" />




        <input type="submit" value="Create Item">
    </form>

</body>

</html>