<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
</head>
<!-- In this page, I created a form to allow data to be submitted to my catalogue and database -->
<body>
    <h1>Let's add a Coin!!</h1>
   <h3>
    <form action="/" method="POST">
        <label for="country">Country</label>
        <input type="text" name="country" id="country" />

        <label for="img">Img</label>
        <input type="text" name="img" id="img" />

        <label for="year">Year</label>
        <input type="text" name="year" id="year" />

        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" id="quantity" />

        <label for="grade">Grade</label>
        <input type="text" name="grade" id="grade" />

        <label for="value">Value (USD</label>
        <input type="text" name="value" id="value" />




        <input type="submit" value="Create Item">
    </form>
</h3>
<style>
    body{
        background-image: url(http://static3.businessinsider.com/image/54ff167bdd08958a678b45ed-https://tse2.mm.bing.net/th?id=OIP.IMTWfrhEtza-ToT-6ztYwQHaDk&pid=Api&P=0&w=367&h=178-924/gold-smelting-molten.jpg);
        color: firebrick;
    }
</style>
</body>

</html>